<h1>Here we go again</h1>
<p></p>
<p><a href="results">Results</a></p>

<form action="/results" method="GET">
  <input type="text" placeholder="Search Term" name="search" />
  <input type="submit" />
</form>
