<h1>Friends List Goes Here!</h1>

<ul>
  <% friends.forEach((friend) => { %>
  <li><%= friend %></li>
  <% }) %>

</ul>

<form action="/addfriend" method="POST">
  <input type="text" name="newfriend" placeholder="name">
  <button>Submit New Friend</button>
</form>