<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/app.css" />
  <title>My Title</title>
</head>

<body>
  <p>This goes at the top of all our pages. Set from header.ejs</p>
  <p><a href="/">Home</a><br><a href="/posts">Posts</a><br><a href="/fallinlovewith/tacos">Love</a></p>