<%- include("partials/header") %>
<h1>Hello World</h1>

<img
  src="https://images.unsplash.com/photo-1598778124051-172bfebbee71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=808&q=80"
  alt="" />
<%- include("partials/footer") %>