body {
  background: white;

  /* background: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  background-size: cover; */
}

h1 {
  color: purple;

  border: 2px solid purple;
}

h4 {
  color: blue;
}

li {
  color: orange;
}
/* Star Selector */
* {
  border: 1px solid lightgray;
}

/* Descendant Selector */

li a {
  color: red;
}

/* Adjacent Selector - Element that comes immediately after. 
For example, the UL that comes after the h4 */

h4 + ul {
  border: 4px solid red;
}

/* Attribute Selector - selects all links with the href attribute matching google.com*/

a[href="http://www.google.com"]
{
  background: blue;
}

input[type="text"] {
  background: yellow;
}

/* nth of type - takes a number like 3 or 5 and returns nth element */

li:nth-of-type(odd) {
  background: purple;
}

li:nth-of-type(even) {
  background: yellow;
}

ul:nth-of-type(3) {
  background: green;
}
